.icon{
width: 1.2rem;
height: 1.2rem;
}

.searchBar{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    height: 4rem;
}

.input,
.input:focus{
    border-style: none;
    outline: none !important;
}